body {
    background-image: url("https://37.media.tumblr.com/df649b19489b2954788d8856188cdd18/tumblr_movcawwYsM1ru3nbdo1_250.png");
}

.edit {
    position: relative;
    padding: 0;
    height: 32px;
    width: 32px;
}

.delete {
    position: relative;
    padding: 0px;
    height: 32px;
    width: 32px;
}

.bi-pencil-square {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;
}

span {
    vertical-align: middle;
}

#divModifica {
    display: none;
}

hr {
    border: none;
    border-bottom: 1px dashed #0D6EFD;
}

/* ITALIC PLACEHOLDERS */
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}