body {
    background-image: url("https://64.media.tumblr.com/afd426a064482261a08716955dda46e6/tumblr_inline_npmlymhBeq1rnjuep_540.png");
}

.edit {
    position: relative;
    padding: 0;
    height: 32px;
    width: 32px;
}

.delete {
    position: relative;
    padding: 0px;
    height: 32px;
    width: 32px;
}

.bi-pencil-square {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;
}

span {
    vertical-align: middle;
}

#divModifica {
    display: none;
}

hr {
    border: none;
    border-bottom: 1px dashed #0D6EFD;
}

#cronologia {
    height: 12em;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ITALIC PLACEHOLDERS */
::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}